<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1f06ebc6ba.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/theme.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/all.min.css"> -->


    <title>My App</title>
</head>
<body>

        <header>
            <nav class="navbar-container">
               
                <div class="quote-icon">
                <img src="/quote-icon-30.png" alt="Quote-icon" height="30px" width="30px"  /> 
                <h1>Quote Generator</h1>
                 </div>

                <div class="mobile-nav">
                    <span class="lines"></span>
                    <span class="lines"></span>
                    <span class="lines"></span>
                  </div>

                  <ul id="nav-links">
                    <li><a href="#" class="links">Home</a></li>
                    <li><a href="#" class="links">About</a></li>
                    <li><a href="#" class="links">Contact</a></li>    
                    <li id="themeToggle">
                     <a href="#" class="themeToggleLink links">
                        <span class="material-icons">wb_sunny</span>
                    </a>
                    </li>
           
                    <li class="search">
                        <a href="#" class="links" id="search-tag">
                        <span class="material-icons" id="search-icon" onclick="toggleSearchField()">search</span>
                       <form action="POST" id="search-form" name="search">
                         <div class="search-field" id="searchField">
                          <input type="text" placeholder="search quote" id="searchQuote" value="" onblur="hideSearchField()">
                        </div>
                    </form>
                        </a>
                 
                      </li>
                     </ul>
            </nav>
        </header>
        
  <main>
            <section>

                <div class="first">
                    <span class="p-card"> 
                        <h2>Insert Quote</h2>
                    <form action="/quotes" method="POST">
                        <input type="text" placeholder="Name of Author" name="author" autocomplete="off" />
                        <input type="text" placeholder="quote" name="quote" autocomplete="off" />
                        <button type="submit" class="btn customButton small">Add</button>
                             
                    </form>
                    </span>
                    
                </div>
    
                <!-- Update button for quotes -->
                     <div class="second">
                        <span class="p-card">                           
                            <h2>Random Quote</h2>
                            <span id="quote-container">
                              <p id="value" name="quote"></p>
                              <p id="key" name="author"></p>
                            </span>
                            <button id="new-quote-btn">Generate Quote</button>
                            <button id="updateButton" style="">Add to Favorites</button>    
                            <span id="quoteDisplay"></span>
                        </span>    
                    
                    </div>
    
                    <!--
                        Delete Button for the quote -->
                    <div class="third">
                        <span class="p-card">
                            <span class="container">
                                <h2>Quote of the Day</h2>
                                <img src="/lightbulb.png" width="40" height="40" alt="Quote of the Day" title="Quote of the Day">
                            </span>
    
                            <p id="quoteOfTheDay"></p>
                              <p id="quoteText"></p>
                             <p id="quoteAuthor"></p>
                         
                        
                        
                            <p id="currentTime"></p>
                             </span>   
                    
                     </div>

            </section> 
           

                     <!-- Quote Section -->

 <section class="sector2">
        <div>
            <form id="deleteForm">
            <div class="p-card"> 
                <h3>Favorite Quotes</h3>
                <ul class="quotes" id="quoteList">
                    <% for(let i = 0; i < quotes.length; i++) { %>
                        <li class="quotes1">

                            <label for="quote<%= i %>">
                                <blockquote>
                                    <!-- <input type="radio" name="selectedQuoteId" value="<%= quotes[i]._id %>"> -->
                                    <%= quotes[i].quote %><strong>&nbsp;__<%= quotes[i].author %></strong> &nbsp; <i class="gg-trash trash-icon" data-quote-id="<%= quotes[i]._id %>">  </i>
                                </blockquote> 
                                 <!-- <button id="deleteButton" style="display:none;"> Delete</button>    -->
                           
                            </label>
                        </li>
                        <% } %>
                </ul>
            </div> 
                   
    
            <span id="message"></span>
         
        </form>
        </div>
      </section>
        </main> 

     

      <footer>
        <div class="footer-content">
            <div class="footer-subscribe">
                <h4>Subscribe to Daily Quotes</h4>
                <p>Enter your email address:</p>
                <input type="email" id="email">
                <button id="subscribeBtn">Subscribe</button>
                <p id="subscribeMsg"></p>
              </div>
           
            <p>&copy; 2023 Quote Generator. All rights reserved.</p>
          </div>
         
      </footer>
    <script src="/main.js" defer></script>
    <script src="/theme.js" defer></script>
</body>
</html>